<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MRS</title>
    <style>
      * {
        box-sizing: border-box;
      }

      .table-bordered td,
      .table-bordered th {
        border: 1px solid #ddd;
        padding: 10px;
        word-break: break-all;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
      .h4-14 h4 {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      .img {
        margin-left: "auto";
        margin-top: "auto";
        height: 30px;
      }
      pre,
      p {
        /* width: 99%; */
        /* overflow: auto; */
        /* bpicklist: 1px solid #aaa; */
        padding: 0;
        margin: 0;
      }
      table {
        font-family: arial, sans-serif;
        width: 100%;
        border-collapse: collapse;
        padding: 1px;
      }
      .hm-p p {
        text-align: left;
        padding: 1px;
        padding: 5px 4px;
      }
      td,
      th {
        text-align: left;
        padding: 8px 6px;
      }
      .table-b td,
      .table-b th {
        border: 1px solid #ddd;
      }
      th {
        /* background-color: #ddd; */
      }
      .hm-p td,
      .hm-p th {
        padding: 3px 0px;
      }
      .cropped {
        float: right;
        margin-bottom: 20px;
        height: 100px; /* height of container */
        overflow: hidden;
      }
      .cropped img {
        width: 400px;
        margin: 8px 0px 0px 80px;
      }
      .main-pd-wrapper {
        box-shadow: 0 0 10px #ddd;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
      }
      .table-bordered td,
      .table-bordered th {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <section class="main-pd-wrapper" style="width: 1000px; margin: auto">
      <table
        class="table table-bordered h4-14"
        style="width: 100%; -fs-table-paginate: paginate; margin-top: 15px"
      >
        <thead style="display: table-header-group">
          <tr
            style="
              margin: 0;
              background: #fcbd021f;
              padding: 15px;
              padding-left: 20px;
              -webkit-print-color-adjust: exact;
            "
          >
          <td colspan="7">
              <h3>To</h3>
              <h3><%= @quotation.name %></h3>
              <p><%= @quotation.address %>, <%= @quotation.city %></p>
              <p><%= @quotation.state %>, India. <%= @quotation.pincode %></p>
              <p>Quotation Date: <%= @quotation_date %></p>
            </td>
            <td colspan="8">
              <h3>
                MRS Enterprises<br>
                <p
                  style="
                    font-weight: 300;
                    font-size: 85%;
                    color: #626262;
                    margin-top: 7px;
                  "
                >
                Ass No.7225/17/2, Survy No.721/C/4, P.No.17/2, <br>
                Honalli Road, Guggurahatti, Ballari - 583 101. <br>
                Phone: 9741571372, 9741627403, 7892046870.<br />
                </p>
              </h3>
            </td>
          </tr>
          <tr>
            <th style="width: 150px"><h4>Item Name</h4></th>
            <th style="width: 80px">
              <h4>
                Unit<br>Price
              </h4>
            </th>
            <th style="width: 80px"><h4>QTY</h4></th>
            <th style="width: 80px">
              <h4>
                Units
              </h4>
            </th>
            <th style="width: 140px"><h4>TOTAL</h4></th>
          </tr>
        </thead>

        <tbody>
          <% @quotation_items.each do |item| %>
          <tr>
            <td> <%= item.item.name %></td>
            <td><%= item.item.price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.item.units %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot></tfoot>
      </table>

      <table class="hm-p table-bordered" style="width: 100%; margin-top: 30px">
        <tr>
          <th style="width: 400px">
            Total Items
          </th>
          <td style="vertical-align: top; color: #000">
            <b><%= @total_units %></b>
          </td>
        <tr>
          <th style="width: 400px">
            Total Units
          </th>
          <td style="vertical-align: top; color: #000">
            <b><%= @total_area %></b>
          </td>
        </tr>
        <tr>
          <th style="width: 400px">
            Total Price
          </th>
          <td style="vertical-align: top; color: #000">
            <b><%= @total_amt %></b>
          </td>
        </tr>
        <tr>
          <th style="width: 400px">
            C-GST
          </th>
          <td style="vertical-align: top; color: #000">
            <b><%= @c_gst %></b>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top">S-GST</th>
          <td style="vertical-align: top; color: #000">
            <b> <%= @s_gst %></b>
          </td>
        </tr>
      </table>

      <table class="hm-p table-bordered" style="width: 100%; margin-top: 30px">
        <tr style="background: #fcbd02">
          <th>Total Order Value</th>
          <td style="width: 150px; text-align: right; border-right: none">
            <b><%= @grand_total %></b>
          </td>
          <td colspan="5" style="border-left: none"></td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0" cellspadding="0" border="0">
        <tr>
          <td>
            <p>
              This is computer generated quotation and hence signature is not
              required
            </p>
          </td>
          <td>
            <h4 style="margin: 0; text-align: right">
              MRS Enterprises - LLP
            </h4>
          </td>
        </tr>
      </table>
    </section>
  </body>
</html>

